@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.ttf') format('ttf'),
       url('/fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM-Plex-Serif/IBMPlexSerif-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'IBM Plex Serif', serif;
  background-color: #f4f3ef;
}